<%= simple_form_for @book do |f| %>
    <% if @book.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h4>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= select_tag(:category_id, options_for_select(@categories), :prompt=> "Select Category")  %>
    <%= f.input :title, label: "Book Title" %>
    <%= f.input :description %>
    <%= f.input :author %>
    <%= f.button :submit %>

<% end %>